h1{
	text-align: center;
	margin-bottom: 60px;
	margin-top: 30px;

}

*{
	box-sizing: border-box;
}


.row{
width: 100%
}

@media (min-width: 992px){
	.col-lg-4{

		width: 33.33%; 
		float:left;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{

		width: 50%; 
		float:left;
	}
	.col-md-12{
		width: 100%;
		float: left;
	}
}

.box{ 
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
width: 95%;
background-color: grey;
border: 1px solid black;
}

#Beef{
position: absolute;
top: 0px;
right: 0px;
width: 120px;
height: 30px;
background-color: red;
border: 1px solid black;

}

#Chicken{
position: absolute;
top: 0px;
right: 0px;
width: 120px;
height: 30px;
background-color: pink;
border: 1px solid black;
}

#Sushi{
position: absolute;
top: 0px;
right: 0px;
width: 120px;
height: 30px;
background-color: yellow;
border: 1px solid black;
}

p{
clear: right;
margin-top: 35px;
width: 90%;
margin-left: auto;
margin-right: auto;

}
h2{
	text-align: center;
	margin-top: 0;

}

